@charset "UTF-8";
* { 
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  user-select: none;
  background: transparent;
  font-family: 'NanumSquareRound';
  font-style: normal;
}

// Color 변수
$colorWhite: #FFF;
$colorMainPink1: #FB4D8D;
$colorMainPink2: #FC7AAA;
$colorMainPink3: #E12568;
$colorMainBlack1: #322D2D;
$colorMainBlack2: #848181;
$colorMainBlack3: #D6D5D5;
$colorSubPink1: #FDEFF3;
$colorSubPink2: #FFE7EE;
$colorSubPink3: #FCB1C4;
$colorSubYellow1: #FAD475;
$colorSubGreen1: #9BDEAC;
$colorSubGreen2: #6ABAA4;
$colorSubBlue1: #67DEF8;

//- 결제하기 & 담기 버튼 디자인 -----------------------//
@mixin buttonBigMainPink {
  /* 60rem, 11.2rem */
  box-shadow: 0 1rem 2rem rgba($colorWhite, 0.5) inset, 
              0 0.4rem 0.4rem rgba($colorWhite, 0.5) inset,
              -0.3rem -0.6rem 2rem rgba($colorMainPink3, 0.9) inset,
              0 0.2rem 0.4rem rgba($colorMainPink1, 0.7);

  background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.2));
  background-color: $colorMainPink1;
  @content;
}
//- 한칸 지우기 버튼 디자인 -----------------------//
@mixin buttonSubGreen{
  box-shadow: 0.1rem 0.1rem 1rem rgba($colorWhite, 0.5) inset, 
              0 0.4rem 1rem rgba($colorWhite, 0.6) inset, 
              -0.6rem -1.2rem 2.4rem rgba($colorSubGreen2, 0.6) inset,
              0 0.2rem 0.4rem rgba($colorSubGreen1, 0.5);
  background-color: $colorSubGreen1;
}
//- 전체 지움 & 아래 화살표 버튼 디자인 -----------------------//
@mixin buttonMainPink2 {
  box-shadow: 0.1rem 0.1rem 1rem rgba($colorWhite, 0.5) inset, 
              0 0.4rem 1rem rgba($colorWhite, 0.6) inset, 
              -0.4rem -0.4rem 3rem rgba($colorMainPink3, 0.5) inset,
              0 0.2rem 0.4rem rgba($colorMainPink2, 0.5);
  background-color: $colorMainPink2;
  @content;
}
//- 하얀배경 버튼 디자인 -----------------------//
@mixin buttonWhite{
  box-shadow: -0.1rem -0.2rem 1rem rgba($colorMainPink2, 0.2) inset, 
              -0.1rem -0.2rem 2.5rem rgba($colorMainPink2, 0.1) inset,
              0 0.2rem 0.4rem rgba($colorMainPink1, 0.2);
  background-color: $colorWhite;
  @content;
}

html { 
  body {
    #pageFinalCost {
      left: calc(50% - 54rem);
      width: 108rem;
      height: 192rem;
      background-color: rgba(50, 45, 45, 0.5);
      position: absolute;
      &>#wrapFinalCostMain {
        position: absolute;
        width: 108.2rem;
        height: 184.1rem;
        bottom : 0;
        left: -0.1rem;
        background-color: $colorSubPink1;
        border-top-left-radius: 12rem;
        border-top-right-radius: 12rem;
        &>section {
          width: 94.4rem;
          height: 146.6rem;
          background-color: $colorWhite;
          border-radius: 8rem;
          margin-top: 8.1rem;
          margin-left: 6.9rem;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;
          &>p:nth-child(1) {
            font-weight: 700;
            font-size: 5.6rem;
            line-height: 6.4rem;
            text-align: center;
            color: $colorMainPink1;
            margin-top: 16rem;
          }
          &>p:nth-child(2) {
            font-weight: 400;
            font-size: 3.2rem;
            line-height: 4.2rem;
            text-align: center;
            color: $colorMainBlack1;
            margin-top: 1.6rem;
          }
          &>article:nth-child(3) {
            width: 74.9rem;
            height: 25.1rem;
            border-radius: 4rem;
            background-color: #FFF9EA;
            margin-top: 6.4rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            &>article {
              margin-top: 2.4rem;
              width: 66.9rem;
              height: 4.1rem;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
              &>p:nth-child(1) {
                font-weight: 400;
                font-size: 3.6rem;
                line-height: 4.1rem;
                color: $colorMainBlack1;
              }
              &>p:nth-child(2) {
                font-weight: 800;
                font-size: 3.6rem;
                line-height: 4.1rem;
                text-align: right;
                color: $colorMainBlack1;
              }
              &:nth-child(2)>p:nth-child(2) {
                color: $colorMainPink3;
              }
              &:nth-child(1) {
                margin-top: 4rem;
              }
            }
          }
          &>article:nth-child(4) {
            margin-top: 8.8rem;
            width: 53.7rem;
            height: 20.1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            &>p:nth-child(1) {
              font-weight: 700;
              font-size: 4.8rem;
              line-height: 5.4rem;
              color: $colorMainPink1;
            }
            &>p:nth-child(2) {
              font-weight: 800;
              font-size: 8rem;
              line-height: 9.1rem;
              text-align: center;
              color: $colorMainPink1;
            }
          }
          &>article:nth-child(5) {
            width: 74.4rem;
            height: 11.2rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 28.4rem;
            &>article:nth-child(1) {
              width: 30.4rem;
              height: 11.2rem;
              border-radius: 5.6rem;
              box-shadow: 0 0 0 0.2rem $colorMainPink1 inset;
              position: relative;
              cursor: pointer;
              &>article {
                pointer-events: none;
                width: 4.8rem;
                height: 4.8rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 1.2rem;
                top: 3.2rem;
                &>div {
                  width: 0.9rem;
                  height: 1.8rem;
                  position: absolute;
                  left: 1.8rem;
                  top: 1.5rem;
                  color: $colorMainPink3;
                  background: {
                    image: url('../img/Vector5.svg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center
                  }
                }
              }
              &>p {
                pointer-events: none;
                position: absolute;
                left: 8.2rem;
                top: 3.6rem;
                font-weight: 700;
                font-size: 3.6rem;
                line-height: 4.1rem;
                text-align: center;
                color: $colorMainPink1;
              }
            }
            &>article:nth-child(2) {
              width: 40rem;
              height: 11.2rem;
              background: $colorMainPink1;
              border-radius: 5.6rem;
              position: relative;
              @include buttonBigMainPink();
              cursor: pointer;
              &>p {
                pointer-events: none;
                position: absolute;
                top: 3.5rem;
                left: 17.2rem;
                font-weight: 700;
                font-size: 3.6rem;
                line-height: 4.1rem;
                text-align: right;
                color: $colorWhite;
              }
              &>article {
                pointer-events: none;
                width: 4.8rem;
                height: 4.8rem;
                position: absolute;
                top: 3.2rem;
                right: 2.4rem;
                &>div {
                  position: absolute;
                  top: 1.5rem;
                  right: 1.8rem;
                  width: 0.9rem;
                  height: 1.8rem;
                  background: {
                    image: url('../img/Vector6.svg');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                  };
                }
              }
            }
          }
        }
      }
    }
  } //--- body ---//
} //--- html ---//